.wrapper {
  min-height: 100vh;
  background-color: #fff0f0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  margin-bottom: 30px;
  font-weight: 600;
  text-align: center;
}

.subcontent {
  width: 80%;
  margin: 0 auto 30px auto;
  font-weight: 600;
  text-align: center;
}



.main {
  max-width: 328px;
  padding: 0 10px;
  margin: 0 auto;
}
