
.header {
  padding: 20px 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

.backButton {
  position: absolute;
  left: 5%;
}

.logo {
  width: 16px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
  cursor: pointer;
}

.logoDark {
  background-image: url('/logo-black.png');
}

.logoLight {
  background-image: url('/logo-light.png');
}
